/* ---------------------------------------  */
/* 1. Base Styles							*/
/* 2. Header  	 							*/
/* 3. Body 									*/
/* 4. Footer								*/
/* 5. Media Queries							*/
/* ---------------------------------------  */


/* -----------------------
1. Base styles
------------------------*/
html {
	overflow-y:scroll;
}
body {
  margin: 0;
  padding: 0;
  color: #050607;
  background-color: #fff;
  font: 1.5em "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0 0 .5em;
  font-weight: 500;
  line-height: 1.1;
}

h1 { font-size: 2.25em; } 	/* 36px */
h2 { font-size: 1.75em; } 	/* 28px */
h3 { font-size: 1.375em; } 	/* 22px */
h4 { font-size: 1.125em; } 	/* 18px */
h5 { font-size: 1em; }     	/* 16px */
h6 { font-size: .875em; }  	/* 14px */

p {
  margin: 0 0 1.5em;
  line-height: 1.5;
}

hr {
  height: 0;
  margin-top: 1em;
  margin-bottom: 2em;
  border: 0;
  border-top: 1px solid #ddd;
}

a:link { color: royalblue; }
a:visited { color: purple; }
a:focus { color: black; }
a:hover { color: green; }
a:active { color: red; }

ul, ol {
  margin-left: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 13px;
}
li {
  margin-top: 10px;
  list-style: none;
}
img {
	border:1px solid black;
	width: 100%;
	height: 100%;
}
/* -----------------------
2. Header
------------------------*/



/* -----------------------
3. Body 
------------------------*/
.pr-img1 {
	background: url("https://static.ringly.com/images/community/dive-1bfd896d.jpg") no-repeat center;
}
.pr-img2 {
	background: url("https://static.ringly.com/images/community/dayd-8e29b79f.jpg") no-repeat center;
}
.pr-img3 {
	background: url("https://static.ringly.com/images/community/star-5d69cdb4.jpg") no-repeat center;
}
.pr-img4 {
	background: url("https://static.ringly.com/images/community/wood-1174f69d.jpg") no-repeat center;
}
.pr-img5 {
	background: url("https://static.ringly.com/images/community/dayd-35732bd0.jpg") no-repeat center;
}
.pr-img6 {
	background: url("https://static.ringly.com/images/community/dive-9d047be1.jpg") no-repeat center;
}
.user-photos {
	overflow: hidden;
}

.user-photo {
    float: left;
    height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 16.66666667%;
	padding-bottom: 16.66666667%;
    -webkit-user-select: none;
    user-select: none;
}
/* End Body*/


/* -----------------------
4. Footer
------------------------*/
#footer {
    padding-top: 42px;
    font-size: 12px;
    line-height: 28px;
    font-family: 'Gotham A','Gotham B',arial,sans-serif;
    color: #e5e5e5;
    background: rgb(72,72,72);
    text-transform: uppercase;
    text-align: center;
    list-style-type: none;
}
#footer li  a {
	color: #fff;
}
#footer img {
	width: 30px;
	height: 30px !important;
}
#footer span {
    width: 60%;
    display: inline-block;
    text-align: center;
}
.footer-social-icons {
	display: block;
}
.title-section {
	border-bottom: 1px solid white;
}
.footer-column-1 {

}


/* MEDIA QUERIES */
@media(max-width: 768px) {
    .user-photo {
        width: 50%;
        padding-bottom: 50%;
    }
    .col-sm-3 {
    	width: 23% !important;
    	padding: 0;
    	margin-right: 2% !important;
	}
	.col-sm-3:last-child {
		margin-right: 0;
	}
}
@media(min-width: 768px) {

    .col-sm-3 {
    	width: 23%;
    	padding: 0;
    	margin-right: 2%;
    	overflow: hidden;
	}
	.col-sm-3:last-child {
		margin-right: 0;
	}
}